{% extends 'layout.html' %}
{% from 'macros.html' import flashes %}
{% block title %}Predmety a informačné listy{% endblock %}
{% block content %}
<div class="content-100">
  {{ flashes() }}
  <h1>Zoznam predmetov a informačných listov</h1>
  <ul class="nav nav-tabs">
    <li class="{{ 'active' if tab == 'moje' else '' }}"><a href="{{ url_for('predmet.index', tab='moje') }}">Moje</a></li>
    <li class="{{ 'active' if tab == 'moje-upravy' else '' }}"><a href="{{ url_for('predmet.index', tab='moje-upravy') }}">Moje úpravy</a></li>
    <li class="{{ 'active' if tab == 'vyucujem' else '' }}"><a href="{{ url_for('predmet.index', tab='vyucujem') }}">Vyučujem</a></li>
    <li class="{{ 'active' if tab == 'oblubene' else '' }}"><a href="{{ url_for('predmet.index', tab='oblubene') }}">Obľúbené</a></li>
    <li class="{{ 'active' if tab == 'vsetky' else '' }}"><a href="{{ url_for('predmet.index', tab='vsetky') }}">Všetky</a></li>
  </ul>
  {% if tab == 'moje' %}
    <p class="help-block">Táto záložka zobrazuje predmety, v ktorých ste buď vytvorili alebo upravili nejaký informačný list,
       alebo ste v nejakom informačnom liste uvedení ako vyučujúci alebo ste označili predmet ako obľúbený</p>
  {% elif tab == 'moje-upravy' %}
    <p class="help-block">Táto záložka zobrazuje predmety, v ktorých ste vytvorili alebo upravili nejaký informačný list</p>
  {% elif tab == 'vyucujem' %}
    <p class="help-block">Táto záložka zobrazuje predmety, v ktorých ste v nejakom informačnom liste uvedení ako vyučujúci</p>
  {% endif %}
  <div class="filter">
    <form method="GET">
      {% macro filter_field(name, label) %}
        <span class="filter-field">
        <label for="{{ name }}">{{ label }}</label>
        <select id="{{ name }}" name="{{ name }}" style="width: 7em;">
          <option value="vsetky" {% if filtruj[name] == None %}selected="selected"{% endif %}>Všetky</option>
          <option value="ano" {% if filtruj[name] == True %}selected="selected"{% endif %}>Áno</option>
          <option value="nie" {% if filtruj[name] == False %}selected="selected"{% endif %}>Nie</option>
        </select>
        </span>
      {% endmacro %}
      {{ filter_field('import_z_aisu', 'Import z AIS-u') }}
      {{ filter_field('zamknute', 'Uzamknuté') }}
      {{ filter_field('obsahuje_varovania', 'Obsahuje varovania') }}
      {{ filter_field('finalna_verzia', 'Finálna verzia') }}
      <button type="submit" class="btn btn-default">Filtruj</button>
    </form>
  </div>
  <hr />
  <ul class="predmety">
  {% for predmet in predmety %}
    <li id="predmet-{{ predmet.id }}">
      {% include 'predmet-item.html' %}
    </li>
  {% endfor %}
  </ul>
  
  <p>
  <a href="{{ url_for('infolist.show', id=None, predmet_id=None, edit=True) }}"
    class="btn btn-primary">Vytvoriť úplne nový predmet</a>
  </p>
  <p>Predmet, ktorý je logickým pokračovateľom (modifikáciou) existujúceho
  predmetu <b>musíte vytvoriť pomocou kópie tohto predmetu.</b> Dôvodom
  je automatické prenášanie štatistík do nových informačných listov.</p>

  <p>Úplne nové predmety <b>nevytvárajte ako kópie existujúcich
  predmetov</b> (aby sa nepreniesli neželané štatistiky z pôvodného
  predmetu).</p>
  
</div>
{% endblock %}
