SECRET_KEY = 'change this!' # tajny sifrovaci kluc
DATABASE = 'host= dbname= user= password='
FILES_DIR = ''
VPCHAR_DIR = ''
ADMIN_EMAILS = ['email@example.com']
SMTP_SERVER = 'smtp.example.com'
EMAIL_FROM = 'ilsp@example.com'
LANGUAGES = ['sk', 'en']
DEFAULT_LANG = 'sk'
