{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_checkbox, flashes, odporucany_semester, render_translated_field %}
{% block title %}Informačný list{% endblock %}
{% block content %}
<div class="content-full">
  {{ flashes() }}
  <div class="left">
  <div class="infolist{% if not editing %} infolist-readonly{% endif %}">
    <div class="header">
      <h2>{{ translated_key(data, 'nazov_predmetu', 'sk') }}</h2>
      {% if data.import_z_aisu %}
        <div id="detail">naimportované z AISu
          {% if data.povodny_kod_predmetu %}
            (<a href="https://sluzby.fmph.uniba.sk/infolist/SK/{{ data.povodny_kod_predmetu|skratka }}.html">pôvodná verzia</a>)
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% block infolist %}
      <div class="polozka">
        <label class="pull-left">Fakulta</label>
        <p>{{ data.fakulta|fakulta }}</p>
      </div>

      <div class="polozka">
        <label class="pull-left">Kód predmetu</label>
        <p>{{ data.povodny_kod_predmetu }} {% if data.treba_zmenit_kod %}(požadujeme zmeniť){% endif %}</p>
      </div>

      {% for lang in config.LANGUAGES %}
        <div class="polozka">
          <label class="pull-left">Názov predmetu ({{ lang }})</label>
          <p>{{ translated_key(data, 'nazov_predmetu', lang) }}</p>
        </div>
      {% endfor %}

      <div class="polozka">
        <label>Druh, rozsah a metóda vzdelávacích činností</label>
        {% if data.cinnosti %}
        <table class="table">
          <thead>
            <tr>
              <th>Druh</th>
              <th>Rozsah</th>
              <th>Metóda</th>
            </tr>
          </thead>
          <tbody>
            {% for cinnost in data.cinnosti %}
            <tr>
              <td>{{ cinnost.druh_cinnosti|druh_cinnosti }}</td>
              <td>{{ cinnost.pocet_hodin }}h/{{ cinnost.za_obdobie|obdobie }}</td>
              <td>{{ cinnost.metoda_vyucby|metoda_vyucby }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>

      <div class="polozka">
        <label class="pull-left">Počet kreditov</label>
        <p>{{ data.pocet_kreditov }}</p>
      </div>
      
      <div class="polozka">
        <label>Odporúčaný semester štúdia a stupeň štúdia</label>
        {% if data.odporucane_semestre %}
          <table class="table">
            <thead>
              <tr>
                <th>Stupeň štúdia</th>
                <th>Semester</th>
                <th>Študijný program</th>
              </tr>
            </thead>
            <tbody>
            {% for odp in data.odporucane_semestre %}
              <tr>
                <td>{{ odp.stupen_studia }}</td>
                <td>{{ odporucany_semester(odp.rocnik, odp.semester) }}</td>
                {% if g.user.vidi_studijne_programy() %}
                <td><a href="{{ url_for('studprog.show', id=odp.studprog, edit=False) }}">{{ odp.studprog_skratka }} {{ odp.studprog_nazov }}</a></td>
                {% else %}
                <td>{{ odp.studprog_skratka }} {{ odp.studprog_nazov }}</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <div class="help-block">
          <p>Informáciu o odporúčanom semestri a stupni štúdia pridá garant
            študijného programu</p>
        </div>
        {% if data.predpokladany_semester %}
          <p>Predpokladaný semester výučby: {{ data.predpokladany_semester }}</p>
        {% endif %}
        {% if data.predpokladany_stupen_studia %}
          <p>Predpokladaný stupeň štúdia: {{ data.predpokladany_stupen_studia }}</p>
        {% endif %}
      </div>

      {% macro formatuj_podmienku(predmety) %}
        {% for token in predmety.tokens %}
          {% if token is string %}
            {% if token == 'OR' %}
              alebo
            {% elif token == 'AND' %}
              a
            {% else %}
              {{ token }}
            {% endif %}
          {% else %}
            <span class="podmienka-predmet">{{ token.skratka }} {{ token.nazvy_predmetu|join('/') }}</span>
          {% endif %}
        {% endfor %}
      {% endmacro %}

      <div class="polozka">
        <label>Podmieňujúce predmety</label>
        {{ formatuj_podmienku(data.podmienujuce_predmety) }}
      </div>
      
      <div class="polozka">
        <label>Odporúčané predmety</label>
        {{ formatuj_podmienku(data.odporucane_predmety) }}
      </div>
      
      <div class="polozka">
        <label>Vylučujúce predmety</label>
        {{ formatuj_podmienku(data.vylucujuce_predmety) }}
      </div>
      
      <div class="polozka">
        <label>Podmienky na absolvovanie predmetu</label>
        {% if translated_key(data.podm_absolvovania, 'nahrada', 'sk') %}
          {% for lang in config.LANGUAGES %}
            <p><strong>({{ lang }}): </strong>{{ translated_key(data.podm_absolvovania, 'nahrada', lang) }}</p>
          {% endfor %}
        {% else %}
          {% for lang in config.LANGUAGES %}
          {% if translated_key(data.podm_absolvovania, 'priebezne', lang) %}
          <p>Priebežné hodnotenie ({{ lang }}): {{ translated_key(data.podm_absolvovania, 'priebezne', lang) }}</p>
          {% endif %}
          {% endfor %}

          {% if data.podm_absolvovania.percenta_zapocet %}
          <p>Na pripustenie ku skúške je potrebných aspoň {{ data.podm_absolvovania.percenta_zapocet }}% bodov z priebežného hodnotenia.</p>
          {% endif %}

          {% for lang in config.LANGUAGES %}
          {% if translated_key(data.podm_absolvovania, 'skuska', lang) %}
          <p>Skúška ({{ lang }}): {{ translated_key(data.podm_absolvovania, 'skuska', lang) }}</p>
          {% endif %}
          {% endfor %}
          
          {% if data.podm_absolvovania.percenta_skuska %}
          <p>Váha skúšky: {{ data.podm_absolvovania.percenta_skuska }}%</p>
          {% endif %}
          
          {% with stupnica = data.podm_absolvovania.percenta_na %}
          {% if stupnica and stupnica.values()|any and not data.podm_absolvovania.nepouzivat_stupnicu %}
          <table class="table">
            <caption>Stupnica hodnotenia</caption>
            <thead>
              <tr>
                <th>A</th><th>B</th><th>C</th><th>D</th><th>E</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for znamka in ['A', 'B', 'C', 'D', 'E'] %}
                  <td>{{ stupnica[znamka] }}%</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
          {% endif %}
          {% endwith %}
        {% endif %}
      </div>

      {% for lang in config.LANGUAGES %}
      <div class="polozka">
        <label>Výsledky vzdelávania ({{ lang }})</label>
        {% if translated_key(data, 'vysledky_vzdelavania', lang) %}
        {{ translated_key(data, 'vysledky_vzdelavania', lang)|nl2br }}
        {% endif %}
      </div>
      {% endfor %}

      {% for lang in config.LANGUAGES %}
      <div class="polozka">
        <label>Stručná osnova predmetu ({{ lang }})</label>
        {% if translated_key(data, 'strucna_osnova', lang) %}
        {{ translated_key(data, 'strucna_osnova', lang)|nl2br }}
        {% endif %}
      </div>
      {% endfor %}

      <div class="polozka">
        <label>Odporúčaná literatúra</label>
        <ul>
          {% for lit_id in data.odporucana_literatura.zoznam %}
            {% with lit = lit_id|literatura %}
              <li>{{ lit.dokument }}<br />{{ lit.vyd_udaje }}</li>
            {% endwith %}
          {% endfor %}
          {% for popis in data.odporucana_literatura.nove %}
            <li>{{ popis }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="polozka">
        <label>Jazyk, ktorého znalosť je potrebná na absolvovanie predmetu</label>
        <p>{{ data.potrebny_jazyk|jazyk_vyucby }}</p>
      </div>

      <div class="polozka">
        <label>Hodnotenia študentov na predmete</label>
        {% with znamky = ['A', 'B', 'C', 'D' , 'E', 'Fx'] %}
          <table class="table">
            <caption>Počet hodnotení</caption>
            <thead>
              <tr>
                {% for znamka in znamky %}
                <th>{{ znamka }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for znamka in znamky %}
                <td>{{ data.hodnotenia_pocet[znamka] }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        {% endwith %}
      </div>

      <div class="polozka">
        <label class="pull-left">Vyučujúci</label>
        <table class="table">
          {% for v in data.vyucujuci %}
            <tr>
              <td>{{ v.cele_meno }}</td>
              <td>{% for typ in v.typy %}{% if not loop.first %}, {% endif %}{{ typ|typ_vyucujuceho }}{% endfor %}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endblock %}
  </div>
  </div><div class="right">
  {% if not editing %}
  <div class="meta">
  {% if not data.zamknute %}
    <a href="{{ url_for('infolist.show', id=infolist_id, edit=True) }}"
      class="btn btn-block btn-primary">Upraviť</a>
    <form action="{{ url_for('infolist.lock', id=infolist_id, lock=True) }}" method="POST">
      <button type="submit" class="btn btn-default btn-block">Zamknúť proti úpravám</button>
    </form>
  {% else %}
    {% if data.import_z_aisu %}
      <p>Tento informačný list je zamknutý proti úpravám pretože bol naimportovaný z AIS-u.</p>
    {% elif data.zahodeny %}
      <p>Tento informačný list bol zahodený.</p>
    {% else %}
      <p>Tento informačný list je zamknutý proti úpravám používateľom: {{ (data.zamkol|osoba)[1] }}</p>
      {% if g.user.moze_odomknut_infolist(data) %}
      <form action="{{ url_for('infolist.lock', id=infolist_id, lock=False) }}" method="POST">
        <button type="submit" class="btn {% if g.user.id != data.zamkol %}btn-warning{% else %}btn-default{% endif %} btn-block">Povoliť úpravy</button>
      </form>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if g.user.moze_zahadzovat_infolisty() %}
    {% if data.zahodeny %}
      <form action="{{ url_for('infolist.trash', id=infolist_id, trash=False) }}" method="POST">
        <button type="submit" class="btn btn-warning btn-block">Vytiahnuť infolist z koša</button>
      </form>
    {% else %}
      <form action="{{ url_for('infolist.trash', id=infolist_id, trash=True) }}" method="POST">
        <button type="submit" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-trash"></span> Zahodiť infolist</button>
      </form>
    {% endif %}
  {% endif %}
  {% if data.obsahuje_varovania %}
    <div class="alert alert-warning">
      Tento informačný list obsahuje varovania.
    </div>
  {% endif %}
  </div>

  <div class="meta">
    <p>Predmet, ktorý je logickým pokračovateľom (modifikáciou) existujúceho
    predmetu <b>musíte vytvoriť pomocou kópie tohto predmetu.</b> Dôvodom
    je automatické prenášanie štatistík do nových informačných listov.</p>

    <p>Úplne nové predmety <b>nevytvárajte ako kópie existujúcich
    predmetov</b> (aby sa nepreniesli neželané štatistiky z pôvodného
    predmetu).</p>
    
    <form action="{{ url_for('infolist.fork', id=infolist_id) }}" method="POST">
      <button type="submit" class="btn btn-default btn-block">Vytvoriť kópiu</button>
    </form>
  </div>

  <div class="meta">
    <a class="btn btn-default btn-block" href="{{ url_for('infolist.export_rtf', id=infolist_id) }}"><span class="glyphicon glyphicon-download"></span> Export do RTF</a>
    <a class="btn btn-default btn-block" href="{{ url_for('infolist.export_rtf_en', id=infolist_id) }}"><span class="glyphicon glyphicon-download"></span> Export do RTF (EN)</a>
  </div>
  {% endif %}

  {% if data.modifikovane or (not data.import_z_aisu and modifikovali) %}
  <div class="meta">
    {% if data.modifikovane %}
    <p>Čas zmeny: {{ data.modifikovane|datetime }}</p>
    {% endif %}

    {% if not data.import_z_aisu and modifikovali %}
    <p>Tento informačný list doteraz upravili:</p>
    <ul class="zoznam-osob">
      {% for osoba in modifikovali %}
        <li>{{ osoba.cele_meno }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endif %}
  
  {% if data.suvisiace_predmety %}
  <div class="meta">
    <p>Predmety súvisiace s týmto informačným listom:</p>
    <ul class="suvisiace-predmety">
      {% for predmet in data.suvisiace_predmety %}
        <li>{{ predmet.skratka }}
          <ul>
            {% for il in predmet.infolisty %}
              <li><a href="{{ url_for('infolist.show', edit=False, id=il.id) }}">{{ il.nazov_predmetu }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
