{% extends 'studprog.html' %}
{% block studprog %}
<div class="body">
  <h4>Školitelia v doktorandskom štúdiu</h4>
  <p>Zaškrtnite osoby, ktoré sú školiteľmi</p>
  <form action="{{ url_for('studijny_program_skolitelia', id=studprog_id) }}" method="POST">

  <ul class="skolitelia">
  {% for osoba in osoby %}
    <li><label><input name="skolitelia" value="{{ osoba.osoba }}" type="checkbox" {% if osoba.je_skolitel %}checked="checked"{% endif %}> {{ osoba.cele_meno }}</label></li>
  {% endfor %}
    <li><input type="hidden" class="dalsie-osoby" name="skolitelia"/></li>
    <li><input type="hidden" class="dalsie-osoby" name="skolitelia"/></li>
    <li><input type="hidden" class="dalsie-osoby" name="skolitelia"/></li>
    <script type="text/javascript">
      $('.skolitelia .dalsie-osoby').select2({
          placeholder: "Vyhľadajte osobu, ak nie je v zozname",
          minimumInputLength: 2,
          ajax: {
            url: "{{ url_for('osoba_search', _external=True) }}",
            data: function (term, page) {
              return {
                q: term
              }
            },
            results: function (data, page) {
              var osoby = $.map(data.osoby, function(val) {
                return {id: val.id, text: val.cele_meno}
              });
              return {results: osoby}
            }
          },
          initSelection: function(element, callback) {
            var id=$(element).val();
            if (id !== "") {
              $.ajax("{{ url_for('osoba_get', _external=True) }}", {
                data: {id: id}
              }).done(function(data) { callback({id: data.id, text: data.cele_meno}); });
            }
          }
        });
    </script>
  </ul>
  <button class="btn btn-primary" type="submit">Uložiť</button>
  </form>
</div>
{% endblock %}