.deformSeqAdd:visited {
   color: blue;
}

.deformReplaces {
    float: left;
}

.deformSet-item {
    padding: 1px;
}

form .required {
    font-weight: bold;
}

form .required:after {
    color: #e32;
    content: '*';
    display:inline;
}

/* ugh, terrible selector coming up */

.hasDatepicker[readonly] {
    cursor: pointer !important;
}

form .deform-readonly-text {
    font-style: italic;
}

.selectize-control.multi .selectize-input > div.spojka {
  background-color: transparent;
}

.selectize-control.multi .selectize-input > div.zatvorka {
  background-color: transparent;
}

.sortable-placeholder {
  height: 3em;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.cond-err-preview {
  border: 1px solid #ff7777;
  border-radius: 3px;
  padding: 5px 9px 2px 9px;
}

.cond-err-preview > div {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background-color: #efefef;
  border-radius: 3px;
}

.cond-err-preview > div.spojka,
.cond-err-preview > div.zatvorka {
  background-color: transparent;
}

.cond-err-preview > div.err-on, .cond-err-preview > div.err-before {
  background-color: #ff7777;
  color: white;
}

.cond-err-item {
  margin-bottom: 0.5em;
}

.zbaleny {
  display: none;
}