{% extends 'infolist.html' %}
{% block includes_js %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='infolist-form.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('ping_js') }}"></script>
{% endblock %}
{% block infolist %}
<div class="body">
  {% if error_saving %}
  <div class="alert alert-danger">
    <strong>CHYBA PRI UKLADANÍ!!!</strong> Formulár sa nepodarilo uložiť!
  </div>
  {% endif %}
  {% if form.error or messages %}
  <div class="alert alert-{{ messages_type }}">
    {% if messages_type == 'warning' %}
      <div>Formulár nie je správne vyplnený, skontrolujte prosím vyplnené údaje.</div>
    {% else %}
      <div class="errorMsgLbl"><strong>CHYBA PRI UKLADANÍ!!!</strong> Pre uloženie formulára treba opraviť niektoré údaje!</div>
    {% endif %}
    {% if messages %}
      <p>Nasledovné polia ešte treba doplniť alebo opraviť:</p>
      <ul>
      {% for fieldname, fieldmsgs in messages %}
        <li>{{ fieldname }}: {{ fieldmsgs|join('; ') }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif %}

  <form id="{{ form.formid }}" method="{{ form.method }}" enctype="multipart/form-data" accept-charset="utf-8">
  {{ render_field(form.fakulta) }}
  {{ render_field(form.nazov_predmetu) }}
  {{ render_field(form.povodny_kod_predmetu, readonly=True) }}
  <div class="form-group">
  {{ render_checkbox(form.treba_zmenit_kod) }}
  </div>
  <div class="form-group">
  {{ render_checkbox(form.bude_v_povinnom) }}
  </div>
  {{ render_field(form.cinnosti) }}
  {{ render_field(form.pocet_kreditov) }}
  <div class="panel panel-default">
    <div class="panel-heading">Odporúčaný semester štúdia a stupeň štúdia</div>
    <div class="panel-body">
      {{ render_field(form.predpokladany_semester) }}
      {{ render_field(form.predpokladany_stupen_studia) }}
      <div class="help-block">
        <p>Informáciu o odporúčanom umiestnení predmetu v rámci príslušného programu pridá garant programu,
          tieto polia slúžia ako informácia pre garanta.</p>
      </div>
    </div>
  </div>
  {{ render_field(form.podmienujuce_predmety) }}
  {{ render_field(form.odporucane_predmety) }}
  {{ render_field(form.vylucujuce_predmety) }}
  {{ render_field(form.podm_absolvovania) }}
  {{ render_field(form.vysledky_vzdelavania) }}
  {{ render_field(form.strucna_osnova) }}
  {{ render_field(form.odporucana_literatura) }}
  {{ render_field(form.potrebny_jazyk) }}
  <div class="panel panel-default">
    <div class="panel-heading">Hodnotenia študentov na predmete</div>
    <div class="panel-body">
      <div class="help-block">
        <p>Hodnotenia študentov budú doplnené dávkovo.</p>
      </div>
    </div>
  </div>
  {{ render_field(form.vyucujuci) }}
  {{ render_field(form.finalna_verzia) }}
  
  <button type="submit" class="btn btn-primary">Uložiť</button>
  </form>
</div>
{% endblock %}