.main-content {
  
}

.content-normal {
  width: 50em;
  margin: 0 auto;
}

.content-full {
  width: 60em;
  margin: 0 auto;
}

.content-full .left {
  width: 40em;
  float: left;
}

.content-full .right {
  width: 20em;
  float: right;
}

.content-100 {
  margin: 0 1em;
}

.infolist-nb {
  background: #eee;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.infolist-nb .nav a:hover {
  background: #f7f7f7;
}

.infolist {
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.infolist .header {
  border-bottom: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
}

.infolist .header h2 {
  margin: 0;
}

.infolist .body {
  padding: 1em;
}

.content-full .meta {
  background: white;
  border: 1px solid #ddd;
}

.meta {
  margin-left: 1em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.meta .btn-block {
  margin-bottom: 0.5em;
}

.meta + .meta {
  margin-top: 1em;
}

.meta :last-child {
  margin-bottom: 0;
}

.meta ul.zoznam-osob {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.meta ul.zoznam-osob li {
  margin-left: 0;
  padding-left: 0;
}

.infolist-readonly .polozka {
  padding-left: 1em;
  padding-right: 1em;
}

.infolist-readonly .polozka+.polozka {
  border-top: 1px solid #ddd;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.infolist-readonly label {
  padding-right: 0.5em;
}

.infolist-readonly label:after {
  content: ":"
}

ul.predmety {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}

ul.predmety > li {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  border: 1px solid #eee;
  background: white;
  list-style-type: none;
}

ul.predmety > li > div {
  border-bottom: 1px solid #eee;
  padding: 0.5em 1em;
}

ul.predmety > li > ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ul.predmety > li > ul > li {
  margin-top: 2px;
  margin-bottom: 2px;
}

ul.predmety > li > ul > li a {
  margin-right: 1.3em;
}


ul.predmety ul.inline-label {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.predmety ul.inline-label li {
  display: inline;
  margin: 0;
  padding: 0.1em;
}

ul.predmety ul.inline-label li.finalna-verzia,
ul.predmety ul.inline-label li.uzamknute,
ul.predmety ul.inline-label li.obsahuje-varovania,
ul.predmety ul.inline-label li.import-z-aisu,
ul.predmety ul.inline-label li.posledna-zmena,
ul.predmety ul.inline-label li.vytvoril {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.1em 0.3em;
}

ul.predmety ul.inline-label li.finalna-verzia {
  background: #5c5;
  color: white;
}

ul.predmety ul.inline-label li.uzamknute {
  background: #fc7;
  color: black;
}

ul.predmety ul.inline-label li.obsahuje-varovania {
  background: #f77;
  color: white;
}

ul.predmety ul.inline-label li.import-z-aisu {
  background: #77c;
  color: white;
}

ul.predmety ul.inline-label li.posledna-zmena,
ul.predmety ul.inline-label li.vytvoril {
  background: #eee;
  color: black;
}

ul.suvisiace-predmety {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.suvisiace-predmety > li {
  display: block;
  margin: 0;
  padding: 0;
}