{% extends 'layout.html' %}
{% from 'macros.html' import flashes %}
{% block title %}Exporty{% endblock %}
{% block content %}
<div class="content-100">
  {{ flashes() }}
  <h1>Exporty</h1>
  <form action="{{ url_for('export_vsetkych_sp') }}" method="GET" role="form">
    <div class="form-group">
      <div class="checkbox">
        <label><input name="infolisty_samostatne" type="checkbox" value="true"/> Exportovať informačné listy v samostatných súboroch</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label><input name="charakteristiky_samostatne" type="checkbox" value="true"/> Exportovať charakteristiky v samostatných súboroch</label>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label><input name="charakteristiky_rtfmerge" type="checkbox" value="true"/> Experimentálne mergovanie RTF charakteristík</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Export všetkých ŠP</button>
  </form>
</div>
{% endblock %}
