{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_checkbox %}
{% block title %}Informačný list{% endblock %}
{% block content %}
<div class="content-full">
  <div class="left">
  <div class="infolist">
    <div class="header">
      <h2>{{ data.nazov_predmetu }}</h2>
    </div>
    <div class="body">
      {% if form.error or messages %}
      <div class="alert alert-danger">
        <div class="errorMsgLbl">Formulár sa nepodarilo uložiť. Skontrolujte vyplnené údaje!</div>
        {% if messages %}
          <p>Nasledovné polia ešte treba doplniť alebo opraviť:</p>
          <ul>
          {% for fieldname, fieldmsgs in messages %}
            <li>{{ fieldname }}: {{ fieldmsgs|join('; ') }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% endif %}
    
      <form id="{{ form.formid }}" method="{{ form.method }}" enctype="multipart/form-data" accept-charset="utf-8">
      {{ render_field(form.fakulta) }}
      {{ render_field(form.nazov_predmetu) }}
      {{ render_field(form.povodny_kod_predmetu, readonly=True) }}
      <div class="form-group">
      {{ render_checkbox(form.treba_zmenit_kod) }}
      </div>
      {{ render_field(form.cinnosti) }}
      {{ render_field(form.pocet_kreditov) }}
      <div class="panel panel-default">
        <div class="panel-heading">Odporúčaný semester štúdia a stupeň štúdia</div>
        <div class="panel-body">
          {{ render_field(form.predpokladany_semester) }}
          <div class="help-block">
            <p>Informáciu o odporúčanom umiestnení predmetu v rámci príslušného programu pridá garant programu.</p>
          </div>
        </div>
      </div>
      {{ render_field(form.podmienujuce_predmety) }}
      {{ render_field(form.vylucujuce_predmety) }}
      {{ render_field(form.podm_absolvovania) }}
      {{ render_field(form.vysledky_vzdelavania) }}
      {{ render_field(form.strucna_osnova) }}
      {{ render_field(form.odporucana_literatura) }}
      {{ render_field(form.potrebny_jazyk) }}
      {{ render_field(form.vyucujuci) }}
      {{ render_field(form.finalna_verzia) }}
      
      <button type="submit" class="btn btn-primary">Uložiť</button>
      </form>
    </div>
  </div>
  </div><div class="right">
  <div class="meta">
    <form action="{{ url_for('fork_infolist', id=infolist_id) }}" method="POST">
      <button type="submit" class="btn btn-default btn-block">Vytvoriť novú verziu</button>
    </form>
  </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
