{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Informačný list{% endblock %}
{% block content %}
<div class="content-full">
  <div class="left">
  <div class="infolist">
    <div class="header">
      <h2>{{ data.nazov_predmetu }}</h2>
    </div>
    <div class="body">
      <form id="{{ form.formid }}" method="{{ form.method }}" enctype="multipart/form-data" accept-charset="utf-8">
      {{ render_field(form.fakulta) }}
      {{ render_field(form.nazov_predmetu) }}
      {{ render_field(form.povodny_kod_predmetu, readonly=True) }}
      {{ render_field(form.cinnosti) }}
      {{ render_field(form.pocet_kreditov) }}
      <div class="form-group">
        <label class="control-label">Odporúčaný semester štúdia a stupeň štúdia</label>
        <div class="help-block">
          <p>Informáciu o odporúčanom semestri a stupni štúdia pridá garant
             študijného programu</p>
        </div>
      </div>
      {{ render_field(form.podmienujuce_predmety) }}
      {{ render_field(form.vylucujuce_predmety) }}
      {{ render_field(form.podm_absolvovania) }}
      {{ render_field(form.vysledky_vzdelavania) }}
      {{ render_field(form.strucna_osnova) }}
      {{ render_field(form.odporucana_literatura) }}
      {{ render_field(form.potrebny_jazyk) }}
      {{ render_field(form.vyucujuci) }}
      {{ render_field(form.finalna_verzia) }}
      </form>
    </div>
  </div>
  </div><div class="right">
  <div class="meta">
    Metadata
  </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
