{% macro render_errors(field) %}
  {% if field.error and not field.widget.hidden and not field.typ.__class__.__name__=='Mapping' %}
    {% for error in field.error.messages() %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_value_and_errors(field) %}
  {{ field.render(**kwargs)|safe }}
  {{ render_errors(field) }}
{% endmacro %}

{% macro render_description(field) %}
  {% if field.description and not field.widget.hidden %}
    <div class="help-block">
      {% if field.description|attr('__html__') %}
        {{ field.description }}
      {% else %}
        <p>{{ field.description }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group {{ field.error and 'has-error' or '' }} {{ field.widget.item_css_class or '' }}">
    {% if not (field.widget.hidden or field.widget.category == 'structural') %}
      <label for="{{ field.oid }}" class="control-label {{ 'required' if field.required or field.schema.warn_if_missing }}">{{ field.title }}</label>
    {% endif %}
    {{ render_value_and_errors(field, **kwargs) }}
    {% if not (field.widget.hidden or field.widget.category == 'structural') %}
    {{ render_description(field) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    <label for="{{ field.oid }}" ><input type="checkbox" value="true" id="{{ field.oid }}" name="{{ field.name }}" {% if field.cstruct == field.widget.true_val %}checked="checked"{% endif %} /> {{ field.title }}</label>
{% endmacro %}

{% macro widget_in_panel(field) %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ field.title }}</div>
    <div class="panel-body">
      {{ render_value_and_errors(field) }}
      {{ render_description(field) }}
    </div>
  </div>
{% endmacro %}

{% macro flashes() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}