{% extends 'layout.html' %}
{% from 'macros.html' import flashes %}
{% block title %}Osoba{% endblock %}
{% block content %}
<div class="content-normal">
  {{ flashes() }}
  {% if osoba %}
    <h4>Nahrať vedecko-pedagogickú charakteristiku pre osobu: {{ osoba.cele_meno }}</h4>
  {% else %}
    <h4>Nahrať vedecko-pedagogickú charakteristiku pre osobu</h4>
  {% endif %}
  <form action="{{ url_for('osoba_upload_vpchar', osoba_id=osoba_id) }}"
    method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="dokument" class="col-sm-2 control-label">Súbor</label>
      <div class="col-sm-10">
        <input type="file" name="dokument" id="dokument"/>
      </div>
    </div>
    {% if osoba_id == None %}
    <div class="form-group">
      <label for="osoba_id" class="col-sm-2 control-label">Osoba</label>
      <div class="col-sm-10">
        <input type="hidden" class="dalsie-osoby" name="osoba_id" id="osoba_id"/>
        <script type="text/javascript">
          $('#osoba_id').select2({
              placeholder: "Vyhľadajte osobu, ak nie je v zozname",
              minimumInputLength: 2,
              ajax: {
                url: "{{ url_for('osoba_search', _external=True) }}",
                data: function (term, page) {
                  return {
                    q: term
                  }
                },
                results: function (data, page) {
                  var osoby = $.map(data.osoby, function(val) {
                    return {id: val.id, text: val.cele_meno}
                  });
                  return {results: osoby}
                }
              },
              initSelection: function(element, callback) {
                var id=$(element).val();
                if (id !== "") {
                  $.ajax("{{ url_for('osoba_get', _external=True) }}", {
                    data: {id: id}
                  }).done(function(data) { callback({id: data.id, text: data.cele_meno}); });
                }
              }
            });
        </script>
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Nahrať</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}