{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block title %}Predmety a informačné listy{% endblock %}
{% block content %}
<div class="content-100">
  <h1>Zoznam predmetov a informačných listov</h1>
  <ul class="predmety">
  {% for predmet in predmety %}
    <li><div title="{{ predmet.kod_predmetu }}">{{ predmet.skratka }}</div>
      <ul>
        {% for infolist in predmet.infolisty %}
          <li><a href="{{ url_for('show_infolist', id=infolist.id, edit=False) }}">{{ infolist.nazov_predmetu }}</a>
            <ul class="inline-label">
              {% if infolist.finalna_verzia %}
              <li class="finalna-verzia">finálna verzia</li>
              {% endif %}
              {% if infolist.import_z_aisu %}
                <li class="import-z-aisu">import z AIS-u</li>
              {% elif infolist.zamknute %}
                <li class="uzamknute">uzamknuté{% if infolist.zamkol %} ({{ (infolist.zamkol|osoba).cele_meno|space2nbsp }}){% endif %}</li>
              {% endif %}
              <li class="posledna-zmena">posledná zmena: {{ infolist.modifikovane|datetime(iba_datum=infolist.import_z_aisu)|space2nbsp }}</li>
              {% if infolist.modifikovali %}
              <li class="upravovali">upravovali:
                {% for osoba in infolist.modifikovali %}
                  {%- if not loop.first %}; {% endif %}
                  {{ osoba.cele_meno|space2nbsp }}
                {% endfor %}
              </li>
              {% endif %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      {##}</li>
  {% endfor %}
</div>
{% endblock %}
