{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_checkbox, flashes %}
{% block title %}Študijný program{% endblock %}
{% block content %}
<div class="content-100">
  {{ flashes() }}
  <div class="left">
  <div class="studprog{% if not editing %} studprog-readonly{% endif %}">
    <div class="header">
      <h2>{{ data.nazov }}</h2>
    </div>
    {% block studprog %}

    {% endblock %}
  </div>
  </div><div class="right">
  
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
