{% extends 'studprog.html' %}
{% block studprog %}
<div class="body">
  {% if prilohy %}
    {% for typ_prilohy, subory in prilohy %}
      <h4>{% if typ_prilohy.id > 0 %}III.{{ typ_prilohy.id }} {% endif %}{{ typ_prilohy.nazov }}{% if typ_prilohy.kriterium %} ({{ typ_prilohy.kriterium }}){% endif %}</h4>
      {% if typ_prilohy.id == 2 %}
        <p>Prílohy v tejto kategórii prikladá systém podľa osôb vybraných v záložke "Školitelia".</p>
      {% endif %}
      {% if context.warnings_by_typ(typ_prilohy.id) %}
        <div class="alert alert-danger">
          <ul>
            {% for msg in context.warnings_by_typ(typ_prilohy.id) %}
              <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if subory %}
      <table class="table dokumenty">
        <thead>
          <tr>
            <th>
              Dokument<br />
              <small>Názov súboru</small>
            </th>
            <th>Čas zmeny</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for filename, subor in subory %}
          <tr>
            <td>
              <a href="{{ url_for('studijny_program_priloha_stiahni', id=studprog_id, subor=filename) }}">{{ subor.nazov }}</a>
              <br />
              <small>{{  filename }}</small>
            </td>
            <td>{{ subor.modifikovane|datetime }}</td>
            <td>
            {% if subor.url_aktualizacie %}
            <a class="btn btn-xs btn-default" href="{{ subor.url_aktualizacie }}">Aktualizovať</a>
            {% endif %}
            {% if g.user.moze_mazat_dokumenty() and subor.url_zmazania %}
            <form data-delete-doc="{{ subor.nazov }}" class="document-delete" action="{{ subor.url_zmazania }}" method="POST"><button type="submit" class="btn btn-xs btn-danger">Zmazať</button></form>
            {% endif %}
            </tr>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% elif typ_prilohy.id not in [0, 2]  %}
        <p>Žiaden priložený dokument.</p>
      {% endif %}
      {% if typ_prilohy.id == 0 %}
        <a class="btn btn-primary" href="{{ url_for('studijny_program_upload_formular', studprog_id=studprog_id, konverzny=False) }}">Nahrať formulár študijného programu</a>
        {% if data.aj_konverzny_program %}
        <a class="btn btn-default" href="{{ url_for('studijny_program_upload_formular', studprog_id=studprog_id, konverzny=True) }}">Nahrať formulár konverzného študijného programu</a>
        {% endif %}
      {% elif typ_prilohy.id == 8 %}
        <a class="btn btn-default" href="{{ url_for('studijny_program_priloha_stiahni_infolisty_v_jednom_subore', id=studprog_id) }}"><span class="glyphicon glyphicon-download"></span> Stiahnuť všetky infolisty v jednom RTF súbore</a>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>K tomuto študijnému programu nie sú priložené žiadne dokumenty</p>
  {% endif %}
  <a class="btn btn-primary" href="{{ url_for('studijny_program_prilohy_upload', studprog_id=studprog_id) }}">Pridať dokument</a>
  <a class="btn btn-default" href="{{ url_for('studijny_program_priloha_stiahni_zip', id=studprog_id, spolocne='normalny') }}"><span class="glyphicon glyphicon-download"></span> Stiahnuť všetky prílohy</a>
  {% if data['aj_konverzny_program'] %}
    <a class="btn btn-default" href="{{ url_for('studijny_program_priloha_stiahni_zip', id=studprog_id, spolocne='konverzny') }}"><span class="glyphicon glyphicon-download"></span> Stiahnuť všetky prílohy (konverzný program)</a>
  {% endif %}
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th>Typ prílohy</th>
        <th>Počet</th>
      </tr>
    </thead>
    <tbody>
      {% for typ_prilohy, subory in prilohy if typ_prilohy.id != 0 %}
      <tr>
        <td>{{ typ_prilohy.nazov }}</td>
        <td>{{ subory|count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}