{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_checkbox, flashes %}
{% block title %}Študijný program{% endblock %}
{% block content %}
<div class="content-100">
  {{ flashes() }}
  <div class="left">
  <div class="studprog{% if not editing %} studprog-readonly{% endif %}">
    <div class="header">
      <h2>{{ data.skratka or '' }} {{ data.nazov }}
      {% if data.aj_konverzny_program %}
        <br />{{ data.skratka or '' }} {{ data.nazov }} (konverzný program)
      {% endif %}
      </h2>
    </div>
    {% if add_warnings %}
      <div class="alert alert-warning">
        <p>Nasledovné kontroly konzistencie skončili s varovaním:</p>
        <ul>
          {% for warn in add_warnings %}
            {% include 'studprog-warning-item.html' %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <ul class="nav nav-tabs">
      <li class="{{ 'active' if tab == 'sp' else '' }}"><a href="{{ url_for('studijny_program_show', id=studprog_id, edit=False) }}">Študijný program</a></li>
      {% if g.user.vidi_dokumenty_sp() %}
      <li class="{{ 'active' if tab == 'dokumenty' else '' }}"><a href="{{ url_for('studijny_program_prilohy', id=studprog_id) }}">Dokumenty</a></li>
      {% endif %}
    </ul>
    {% block studprog %}
      <div class="body">
        <div class="polozka">
          <label class="pull-left">Garant</label>
          <p>{{ (data.garant|osoba).cele_meno }}</p>
        </div>
        <div class="polozka">
          <label class="pull-left">Stupeň štúdia</label>
          <p>{{ data.stupen_studia|stupen_studia }}</p>
        </div>
        <div class="polozka">
          <label>Podmienky absolvovania študijného programu</label>
          {{ data.podmienky_absolvovania|nl2br }}
        </div>
      </div>
      {% for blok in data.bloky %}
      <div class="body">
        <h3>{{ blok.nazov }} <small>({{ blok.typ|typ_bloku }})</small></h3>
        {{ blok.podmienky|nl2br }}
        <table class="table">
          <thead>
            <tr>
              <th>Informačný list</th>
              <th>Jadro</th>
              <th class="col-vyucujuci">Vyučujúci</th>
              <th><abbr title="Semester">Sem.</abbr></th>
              <th>Rozsah</th>
              <th><abbr title="Počet kreditov">Kred.</abbr></th>
            </tr>
          </thead>
          <tbody>
            {% for infolist in blok.infolisty %}
              <tr>
                <td><a href="{{ url_for('show_infolist', id=infolist.infolist, edit=False) }}">
                    {{ infolist.skratka_predmetu }} {{ infolist.nazov_predmetu }}
                    </a>
                    {% if infolist.poznamka_cislo != None %}
                      <sup>{{ infolist.poznamka_cislo + 1 }}</sup>
                    {% endif %}
                </td>
                <td>{{ 'áno' if infolist.predmet_jadra else 'nie' }}</td>
                <td class="col-vyucujuci">{{ infolist.vyucujuci|join(', ', attribute='kratke_meno') }}</td>
                <td>{{ infolist.rocnik }}{{ infolist.semester }}</td>
                <td>{{ infolist.rozsah|join(' + ') }}</td>
                <td>{{ infolist.pocet_kreditov }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if blok.poznamky %}
          <p>Poznámky:</p>
          <ol>
            {% for poznamka in blok.poznamky %}
              <li>{{ poznamka }}</li>
            {% endfor %}
          </ol>
        {% endif %}
      </div>
      {% endfor %}
      {% if data.aj_konverzny_program %}
      <div class="body">
        <div class="polozka">
          <label>Poznámka ku konverznému programu</label>
          {{ data.poznamka_konverzny|nl2br }}
        </div>
      </div>
      {% endif %}
      
    {% endblock %}
  </div>
  </div><div class="right">
    {% if not editing and (g.user.moze_menit_studprog() or data.obsahuje_varovania) %}
      <div class="meta">
      {% if g.user.moze_menit_studprog() %}
      {% if data.verzia != data.posledna_verzia %}
        <p>Toto je historická verzia študíjneho programu</p>
      {% elif not data.zamknute %}
        <a href="{{ url_for('studijny_program_show', id=studprog_id, edit=True) }}"
          class="btn btn-block btn-primary">Upraviť</a>
        <form action="{{ url_for('lock_studprog', id=studprog_id, lock=True) }}" method="POST">
          <button type="submit" class="btn btn-default btn-block">Zamknúť proti úpravám</button>
        </form>
      {% else %}
        <p>Tento študijný program je zamknutý proti úpravám používateľom: {{ (data.zamkol|osoba)[1] }}</p>
        {% if g.user.moze_odomknut_studprog(data) %}
        <form action="{{ url_for('lock_studprog', id=studprog_id, lock=False) }}" method="POST">
          <button type="submit" class="btn {% if g.user.id != data.zamkol %}btn-warning{% else %}btn-default{% endif %} btn-block">Povoliť úpravy</button>
        </form>
        {% endif %}
      {% endif %}
      {% endif %}
      {% if data.obsahuje_varovania %}
        <div class="alert alert-warning">
          Tento študijný program obsahuje varovania.
        </div>
      {% endif %}
      </div>
    {% endif %}
    {% if data.modifikovane or modifikovali %}
    <div class="meta">
      {% if data.modifikovane %}
      <p>Čas zmeny: {{ data.modifikovane|datetime }}</p>
      {% endif %}

      {% if modifikovali %}
      <p>Tento študijný program doteraz upravili:</p>
      <ul class="zoznam-osob">
        {% for osoba in modifikovali %}
          <li>{{ osoba.cele_meno }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
