{% extends 'layout.html' %}
{% from 'macros.html' import flashes %}
{% block title %}Študijné programy{% endblock %}
{% block content %}
<div class="content-100">
  {{ flashes() }}
  <h1>Zoznam študijných programov</h1>
  <ul class="studijne-programy">
  {% for studprog in studijne_programy %}
    <li><a href="{{ url_for('studijny_program_show', id=studprog.id, edit=False) }}">{{ studprog.skratka or '' }} {{ studprog.nazov }} ({{ studprog.stupen_studia }})</a>
      <ul class="inline-label">
        {% if studprog.aj_konverzny_program %}
        <li class="aj-konverzny-program">aj konverzný program</li>
        {% endif %}
        {% if studprog.finalna_verzia %}
        <li class="finalna-verzia">finálna verzia</li>
        {% endif %}
        {% if studprog.obsahuje_varovania %}
        <li class="obsahuje-varovania">obsahuje varovania</li>
        {% endif %}
        {% if studprog.zamknute %}
          <li class="uzamknute">uzamknuté{% if studprog.zamkol %} ({{ (studprog.zamkol|osoba).cele_meno|space2nbsp }}){% endif %}</li>
        {% endif %}
        <li class="posledna-zmena">posledná zmena: {{ studprog.modifikovane|datetime|space2nbsp }}
        {%- if studprog.modifikoval_cele_meno %}
          ({{ studprog.modifikoval_cele_meno }})
        {% endif -%}
        </li>
        {% if studprog.modifikovali and not
              (studprog.modifikovali|length == 1 and studprog.modifikovali[0].id == studprog.modifikoval) %}
        <li class="upravovali">upravovali:
          {% for osoba in studprog.modifikovali %}
            {%- if not loop.first %}; {% endif %}
            {{ osoba.cele_meno|space2nbsp }}
          {% endfor %}
        </li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  
  {% if g.user.moze_vytvarat_studijne_programy() %}
  <p>
  <a href="{{ url_for('studijny_program_show', id=None, edit=True) }}"
    class="btn btn-primary">Vytvoriť úplne nový študijný program</a>
  </p>
  {% endif %}
  
</div>
{% endblock %}
